{% load static %}
<!-- Header Menu Area Start Here -->
<div class="navbar navbar-expand-md header-menu-one bg-light">
    <div class="nav-bar-header-one">
        <div class="header-logo">
            <a href="{% url 'account_settings' %}">
                <img src="{% static 'assets/img/logo.png' %}" alt="logo">
            </a>
        </div>
          <div class="toggle-button sidebar-toggle">
            <button type="button" class="item-link">
                <span class="btn-icon-wrap">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </button>
        </div>
    </div>
    <div class="d-md-none mobile-nav-bar">
       <button class="navbar-toggler pulse-animation" type="button" data-toggle="collapse" data-target="#mobile-navbar" aria-expanded="false">
            <i class="far fa-arrow-alt-circle-down"></i>
        </button>
        <button type="button" class="navbar-toggler sidebar-toggle-mobile">
            <i class="fas fa-bars"></i>
        </button>
    </div>
    <div class="header-main-menu collapse navbar-collapse" id="mobile-navbar">
        <ul class="navbar-nav">
            <li class="navbar-item header-search-bar">
                <div class="input-group stylish-input-group">
                  <h1>Welcome</h1>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="navbar-item dropdown header-admin">
                <a class="navbar-nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                    aria-expanded="false">
                    <div class="admin-title">
                        <h5 class="item-title">{{ request.user.first_name }} {{ request.user.last_name }}</h5>
                        <span>{{ request.user.username }} </span>
                    </div>
                    <div class="admin-img">
                        {% if request.user.profile.student_picture %}
                        <img src="{{ request.user.profile.student_picture.url }}" alt="Admin" style="height: 60px;">
                        {% else %}
                        <img src="{% static 'assets/img/figure/user1.jpg' %}" alt="Admin" style="height: 60px;">
                        {% endif %}
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="item-header">
                        <h6 class="item-title">{{ request.user.first_name }} {{ request.user.last_name }}
                        </h6>
                    </div>
                    <div class="item-content">
                        <ul class="settings-list">                           
                            <li><a href="{% url 'account_settings' %}"><i class="flaticon-gear-loading"></i>Account Settings</a></li>
                            <li><a href="{% url 'logout' %}"><i class="flaticon-turn-off"></i>Log Out</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            
        </ul>
    </div>
</div>
<!-- Header Menu Area End Here -->