{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<!-- Breadcubs Area Start Here -->
<div class="breadcrumbs-area">
    <h3>Payment History</h3>
    <ul>
        <li>
            <a href="{% url 'history' %}">Home</a>
        </li>
        <li>Payment History</li>
    </ul>
</div>
<!-- Breadcubs Area End Here -->


{% if pick %}


    <section id="results" >
        <div  class="container mt-3 m-3 mx-auto">
            <div class="body-container mt-md-3">
                <div class="text-left row text-uppercase text-bold">
                    <!-- <div class="container mb-5">
                        <button onclick="printSection()" class="btn-gradient-yellow btn-hover-bluedark btn-fill-lg">Print Receipt</button>
                    </div> -->
                    
                </div>
          
                <div class="table_container">
                    <div class="row " >
                        <div class="col-md-12" >
                            <div class="card-body bg-primary text-dark py-1">
                                <p><h3>Payment Details </h3></p>
                            </div>
                            <div class="table-responsive" id="table" >
                                <table class="table" style="width: 100%">
                                    <tbody id="logs_table">
                                      <tr class="text-uppercase">
                                        <td class="table-secondary">First Name</td>
                                        <td class="table-secondary">Last Name</td>
                                        <td class="table-secondary">Email</td>
                                        <td class="table-secondary"></td>
                                        
                                        


                                        </tr>
                                        {% for picks in pick %}

                                        <tr class="text-capitalize" id="{{picks.trackingid}}">
                                        
                                        <td class="table-secondary"><p style="font-weight: 600;">{{picks.first_name}}</p></td>
                                        <td class="table-secondary"><p style="font-weight: 600;">{{picks.last_name}}</p></td>
                                        <td class="table-secondary"><p style="font-weight: 600;">{{picks.email}}</p></td>
                                        <td class="table-secondary"><a href="{% url 'detail' pk=picks.pk %}"  class="btn-gradient-yellow btn-hover-bluedark btn-fill-lg">View Details</button></td>
                                        
                                        
                                        
                                    </tr>
{% endfor %}

                                    </tbody>
                                  </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    
    </section>
    


    
{% else %}

<p>You have not make any payment!</p>

{% endif %}
    


    
    



    
{% endblock content %}
    