asgiref==3.7.2
certifi==2023.11.17
charset-normalizer==3.3.2
crispy-bootstrap4==2023.1
crispy-bootstrap5==2023.10
distlib==0.3.7
Django==4.2.7
django-crispy-forms==2.1
filelock==3.13.1
idna==3.6
Pillow==10.1.0
platformdirs==4.1.0
requests==2.31.0
sqlparse==0.4.4
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.1.0
virtualenv==20.25.0
