{% load static %}
<!--Newsletter Start-->
<div class="newsletter-wrap ">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="title">
            <h1>Newsletter</h1>
          </div>
          
        </div>
        <div class="col-lg-6">
          <div class="news-info">
            <form>
              <div class="input-group">
                <input type="text" class="form-control" name="search" placeholder="Email Address">
                <div class="form_icon"><i class="fas fa-envelope"></i></div>
              </div>
              <button class="sigup">Sign Up</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Newsletter End--> 
  
  <!-- Footer Start -->
  <div class="footer-wrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="footer_logo"><img alt="" class="footer-default" src="{% static 'images/logo.png' %}"></div>
          <p>Quest for Excellence</p>
        </div>
        <div class="col-lg-2 col-md-3">
          <h3>Quick links</h3>
          <ul class="footer-links">
            <li> <a href="index-2.html">Home</a></li>
            <li> <a href="about.html">About</a></li>
            <li> <a href="classes.html">Our Staff</a></li>
            <li> <a href="teachers.html">Register</a></li>
            <li> <a href="testimonials.html">Login</a></li>
            <li> <a href="contact.html">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-4">
          <h3>Opening Hours</h3>
          <ul class="unorderList hourswrp">
            <li>Monday <span>08:00 - 02:00</span></li>
            <li>Tuesday <span>08:00 - 02:00</span></li>
            <li>Wednesday <span>08:00 - 02:00</span></li>
            <li>Thursday <span>08:00 - 02:00</span></li>
            <li>Friday <span>08:00 - 02:00</span></li>
            <li>Saturday <span>08:00 - 02:00</span></li>
            <li>Sunday <span>Closed</span></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="footer_info">
            <h3>Get in Touch</h3>
            <ul class="footer-adress">
              <li class="footer_address"> <i class="fas fa-map-signs"></i> <span>123 Lorem Ipsum, 32 sit Atlanta</span> </li>
              <li class="footer_email"> <i class="fas fa-envelope" aria-hidden="true"></i> <span><a href="mailto:info@example.com"> info@example.com </a></span> </li>
              <li class="footer_phone"> <i class="fas fa-phone-alt"></i> <span><a href="tel:7704282433"> 770-123-4567</a></span> </li>
            </ul>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer End --> 