{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Revolution slider start -->
<div class="tp-banner-container">
    <div class="tp-banner">
      <ul>
        <li data-slotamount="7" data-transition="3dcurtain-horizontal" data-masterspeed="1000" data-saveperformance="on"> <img alt="" src="{% static 'images/dummy.png' %}" data-lazyload="{% static 'images/slider1.jpg' %}">
          <div class="caption lft large-title tp-resizeme slidertext2" data-x="center" data-y="170" data-speed="600" data-start="1600"><span> Sacred Heart School</span></div>
          <div class="caption lfb large-title tp-resizeme slidertext3" data-x="center" data-y="260" data-speed="600" data-start="2200"> Welcome to our school </div>
          <div class="caption lfb large-title tp-resizeme slidertext4" data-x="330" data-y="350" data-speed="600" data-start="2800"> <a href="{% url 'register' %}"><i class="fas fa-calendar-alt"></i> Signup Today</a> </div>
          <div class="caption lfb large-title tp-resizeme slidertext4 slidertext5" data-x="610" data-y="350" data-speed="600" data-start="3400"> <a href="{% url 'login' %}"><i class="far fa-user"></i> Login</a> </div>
        </li>
        <li data-slotamount="7" data-transition="slotzoom-horizontal" data-masterspeed="1000" data-saveperformance="on"> <img alt="" src="{% static 'images/dummy.png' %}" data-lazyload="{% static 'images/slider.jpg' %}">
          <div class="caption lft large-title tp-resizeme slidertext2" data-x="center" data-y="170" data-speed="600" data-start="1600"><span> Sacred Heart School </span></div>
          <div class="caption lfb large-title tp-resizeme slidertext3" data-x="center" data-y="260" data-speed="600" data-start="2200"> We support our student to make the right decision for thier future.</div>
          <div class="caption lfb large-title tp-resizeme slidertext4" data-x="330" data-y="350" data-speed="600" data-start="2800"> <a href="{% url 'register' %}"><i class="fas fa-user"></i> Signup Today</a> </div>
          <div class="caption lfb large-title tp-resizeme slidertext4 slidertext5" data-x="610" data-y="350" data-speed="600" data-start="3400"> <a href="{% url 'login' %}"><i class="far fa-calendar-alt"></i> Login</a> </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- Revolution slider end -->

  <!-- School Start -->
<div class="our-course-categories-two ">
  <div class="container">
    <div class="categories_wrap">
      <ul class="row unorderList">
        <li class="col-lg-4 col-md-4"> 
          <!-- single-course-categories -->
          <div class="categories-course">
            <div class="item-inner">
              <div class="cours-icon"> <span class="coure-icon-inner"> <img src="{% static 'images/teacher.png' %}" alt=""> </span> </div>
              <div class="cours-title">
                <h4>Expert teachers</h4>
                <p>Our expert teachers are there to listen to students and ask questions to help them make sense of thier own understanding of key ideas.</p>
              </div>
            </div>
          </div>
          <!--// single-course-categories --> 
        </li>
        <li class="col-lg-4 col-md-4"> 
          <!-- single-course-categories -->
          <div class="categories-course">
            <div class="item-inner">
              <div class="cours-icon"> <span class="coure-icon-inner"> <img src="{% static 'images/book.png' %}" alt=""> </span> </div>
              <div class="cours-title">
                <h4>Quality Education</h4>
                <p>We focus on these important element for your kids: Quality learners, Quality learning environment, and Quality Outcomes.</p>
              </div>
            </div>
          </div>
          <!--// single-course-categories --> 
        </li>
        <li class="col-lg-4 col-md-4"> 
          <!-- single-course-categories -->
          <div class="categories-course" >
            <div class="item-inner">
              <div class="cours-icon"> <span class="coure-icon-inner"> <img src="{% static 'images/support.png' %}" alt=""> </span> </div>
              <div class="cours-title">
                <h4>Life Time Support</h4>
                <p>We support our students to make the right decision for their future.</p>
              </div>
            </div>
          </div>
          <!--// single-course-categories --> 
        </li>
        
      </ul>
    </div>
  </div>
</div>

<!-- School End --> 

<!-- About Start -->
<div class="about-wrap  " id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="aboutImg"><img src="{% static 'images/aboutImg.png' %}" alt=""></div>
      </div>
      <div class="col-lg-5">
        <div class="about_box">
          <div class="title">
            <h1>Online Learing <span>PLatform</span></h1>
          </div>
          <p>At Sacred Heart school we offer online learning platform for our students, they can learn at the comfort of their homes.</p>
          <ul class="edu_list">
            <li>
              <div class="learing-wrp">
                <div class="edu_icon" data-aos="fade-up"
                data-aos-duration="3000"><img src="{% static 'images/education.png' %}" alt=""></div>
                <div class="learn_info" data-aos="fade-up"
                data-aos-duration="3000">
                  <h3>Special Education</h3>
                  <p>Our online learning platform also supports special education.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="learing-wrp">
                <div class="edu_icon" data-aos="fade-up"
                data-aos-duration="3000"><img src="{% static 'images/class.png' %}" alt=""></div>
                <div class="learn_info" data-aos="fade-up"
                data-aos-duration="3000" data-aos="fade-up"
     data-aos-duration="3000">
                  <h3>Honors classes</h3>
                  <p>Our online learning platform operates at a faster pace.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="learing-wrp"data-aos="fade-up"
              data-aos-duration="3000" >
                <div class="edu_icon" data-aos="fade-up"
                data-aos-duration="3000"><img src="{% static 'images/academy.png' %}" alt=""></div>
                <div class="learn_info">
                  <h3>Traditional academies</h3>
                  <p>Our online learning platform has a core knowledge extenstion and enrichment program.</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About End --> 

<!-- Choice Start -->
<div class="choice-wrap ">
  <div class="container">
    <div class="title">
      <h1>We Are The Best <span>Choice For Your Child</span></h1>
    </div>
    <p>The focus of <b>Sacred Heart School</b> is the development of world class schools. World class in all facets of our operations- Curriculum, teaching methodologies, staff quality, facilities, management and so on.</p>
    <div class="readmore"><a href="#">Contact Us</a></div>
  </div>
</div>
<!-- Choice End --> 

<!-- Gallery Start -->
<div class="gallery-wrap ">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="gallery_box">
          <div class="gallery_left">
            <div class="title">
              <h1>Photo Gallery</h1>
            </div>
            <p>Get the feel of our events/activites at Sacred Heart school. Now you won't miss out on our events.</p>
            <div class="readmore"><a href="#">View All Gallery</a></div>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="galleryImg"><img src="{% static 'images/gallery-1.jpg' %}" alt="">
              <div class="portfolio-overley">
                <div class="content"> <a href="{% static 'images/gallery-1.jpg' %}" class="fancybox image-link" data-fancybox="images" title="Image Caption Here"><i class="fas fa-search-plus"></i></a> </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="galleryImg"><img src="{% static 'images/gallery-2.jpg' %}" alt="">
              <div class="portfolio-overley">
                <div class="content"> <a href="{% static 'images/gallery-2.jpg' %}" class="fancybox image-link" data-fancybox="images" title="Image Caption Here"><i class="fas fa-search-plus"></i></a> </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="galleryImg"><img src="{% static 'images/gallery-3.jpg' %}" alt="">
              <div class="portfolio-overley">
                <div class="content"> <a href="{% static 'images/gallery-3.jpg' %}" class="fancybox image-link" data-fancybox="images" title="Image Caption Here"><i class="fas fa-search-plus"></i></a> </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="galleryImg"><img src="{% static 'images/gallery-4.jpg' %}" alt="">
              <div class="portfolio-overley">
                <div class="content"> <a href="{% static 'images/gallery-4.jpg' %}" class="fancybox image-link" data-fancybox="images" title="Image Caption Here"><i class="fas fa-search-plus"></i></a> </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="galleryImg"><img src="{% static 'images/gallery-5.jpg' %}" alt="">
              <div class="portfolio-overley">
                <div class="content"> <a href="{% static 'images/gallery-5.jpg' %}" class="fancybox image-link" data-fancybox="images" title="Image Caption Here"><i class="fas fa-search-plus"></i></a> </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="galleryImg"><img src="{% static 'images/gallery-6.jpg' %}" alt="">
              <div class="portfolio-overley">
                <div class="content"> <a href="{% static 'images/gallery-6.jpg' %}" class="fancybox image-link" data-fancybox="images" title="Image Caption Here"><i class="fas fa-search-plus"></i></a> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Gallery End --> 

    
{% endblock content %}
    