{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Inner Heading Start -->
<div class="innerHeading-wrap">
    <div class="container">
      <h1>Teachers</h1>
    </div>
  </div>
  <!-- Inner Heading End --> 
  
  <!-- Inner Content Start -->
  <div class="innerContent-wrap">
    <div class="container"> 
      
      <!-- Teachers Start -->
      <div class="innerteacher-wrap">
        <div class="row">
          <div class="col-lg-3 col-md-6 ">
            <div class="single-teachers">
              <div class="teacherImg"> <img src="{% static 'images/teachers01.jpg' %}" alt="Image">
                <ul class="social-icons list-inline">
                  <!-- social-icons -->
                  <li class="social-facebook"> <a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a> </li>
                  <li class="social-twitter"> <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a> </li>
                  <li class="social-linkedin"> <a href="#"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a> </li>
                  <li class="social-googleplus"> <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a> </li>
                </ul>
              </div>
              <div class="teachers-content">
                <h3>Stella Roffin</h3>
                <div class="designation">Head Art teacher</div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 ">
            <div class="single-teachers">
              <div class="teacherImg"> <img src="{% static 'images/teachers02.jpg' %}" alt="Image">
                <ul class="social-icons list-inline">
                  <!-- social-icons -->
                  <li class="social-facebook"> <a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a> </li>
                  <li class="social-twitter"> <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a> </li>
                  <li class="social-linkedin"> <a href="#"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a> </li>
                  <li class="social-googleplus"> <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a> </li>
                </ul>
              </div>
              <div class="teachers-content">
                <h3>Chris Miller</h3>
                <div class="designation">Head of Mathematic</div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 ">
            <div class="single-teachers">
              <div class="teacherImg"> <img src="{% static 'images/teachers03.jpg' %}" alt="Image">
                <ul class="social-icons list-inline">
                  <!-- social-icons -->
                  <li class="social-facebook"> <a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a> </li>
                  <li class="social-twitter"> <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a> </li>
                  <li class="social-linkedin"> <a href="#"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a> </li>
                  <li class="social-googleplus"> <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a> </li>
                </ul>
              </div>
              <div class="teachers-content">
                <h3>Jesica Matt</h3>
                <div class="designation">Head of Language Teacher</div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 ">
            <div class="single-teachers">
              <div class="teacherImg"> <img src="{% static 'images/teachers04.jpg' %}" alt="Image">
                <ul class="social-icons list-inline">
                  <!-- social-icons -->
                  <li class="social-facebook"> <a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a> </li>
                  <li class="social-twitter"> <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a> </li>
                  <li class="social-linkedin"> <a href="#"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a> </li>
                  <li class="social-googleplus"> <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a> </li>
                </ul>
              </div>
              <div class="teachers-content">
                <h3>Lena Bodie</h3>
                <div class="designation">Head of Science Teacher</div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 ">
            <div class="single-teachers">
              <div class="teacherImg"> <img src="{% static 'images/teachers04.jpg' %}" alt="Image">
                <ul class="social-icons list-inline">
                  <!-- social-icons -->
                  <li class="social-facebook"> <a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a> </li>
                  <li class="social-twitter"> <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a> </li>
                  <li class="social-linkedin"> <a href="#"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a> </li>
                  <li class="social-googleplus"> <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a> </li>
                </ul>
              </div>
              <div class="teachers-content">
                <h3>Lena Bodie</h3>
                <div class="designation">Science Teacher</div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 ">
            <div class="single-teachers">
              <div class="teacherImg"> <img src="{% static 'images/teachers01.jpg' %}" alt="Image">
                <ul class="social-icons list-inline">
                  <!-- social-icons -->
                  <li class="social-facebook"> <a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a> </li>
                  <li class="social-twitter"> <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a> </li>
                  <li class="social-linkedin"> <a href="#"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a> </li>
                  <li class="social-googleplus"> <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a> </li>
                </ul>
              </div>
              <div class="teachers-content">
                <h3>Stella Roffin</h3>
                <div class="designation">Art teacher</div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 ">
            <div class="single-teachers">
              <div class="teacherImg"> <img src="{% static 'images/teachers02.jpg' %}" alt="Image">
                <ul class="social-icons list-inline">
                  <!-- social-icons -->
                  <li class="social-facebook"> <a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a> </li>
                  <li class="social-twitter"> <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a> </li>
                  <li class="social-linkedin"> <a href="#"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a> </li>
                  <li class="social-googleplus"> <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a> </li>
                </ul>
              </div>
              <div class="teachers-content">
                <h3>Chris Miller</h3>
                <div class="designation">Mathematic</div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 ">
            <div class="single-teachers">
              <div class="teacherImg"> <img src="{% static 'images/teachers03.jpg' %}" alt="Image">
                <ul class="social-icons list-inline">
                  <!-- social-icons -->
                  <li class="social-facebook"> <a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a> </li>
                  <li class="social-twitter"> <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a> </li>
                  <li class="social-linkedin"> <a href="#"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a> </li>
                  <li class="social-googleplus"> <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a> </li>
                </ul>
              </div>
              <div class="teachers-content">
                <h3>Jesica Matt</h3>
                <div class="designation">English Teacher</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Teachers End --> 

    </div>
    </div>
{% endblock content %}
    